$background-color__body: #eef2f3;
$background-color__card: white;
$background-color__toggle: #ccc;
$background-color__toggle-circle: white;
$background-color__toggle-circle-active: #4caf50;
$background-color__cell: linear-gradient(145deg, #27ae60, #2ecc71);

$font-color__body: #2c3e50;
$font-color_cell: white;

$font-family: 'Roboto', sans-serif;